@import "bourbon/bourbon";
@import "neat/neat";
@import 'variables';


@mixin font-style {
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-decoration: none;
  text-align: start;
  text-indent: 0px;
  text-transform: none;
}

@mixin margin-top ($width) {
  margin-top: $width;
}

@mixin banner ($height) {
  height: $height;
  display: block;
  clear: none;
}

html, body {
  width: 100%;
  height: 100%;
}


body {
  background-color: $white; 
  font-family: 'Baloo Bhai', sans-serif; 
  max-width: 940px;
}

.container {
  @include flex(1);
}



.logo {
  font-size: em(48);
  text-align: center;
  color: gold;
  text-shadow: -5px 10px 15px $black; }

.char1 {
  position: relative;
  z-index: 2;
  left: 5px; }

.char2 {
  position: relative;
  z-index: 3;
  left: -15px; }



@media screen and (min-width:350px) {
  .jumbotron {
    background-color: $white;
    @include display(flex);
    @include flex-direction(column);
    @include flex-wrap(wrap);
    color: rgba(26, 26, 26, 0.6);
  }

  body {
    max-width: 100%;
  }

  .description {
    @include align-self(stretch);
  }

  .photo {
    @include order(-1);
    @include flex(1);
    @include flex-basis(200px);
  }

  main-page {
    display: block;
    moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(img/img_01.png) no-repeat;
    width: 160px;
    height: 216px;
    margin: 0 auto;
  }

  .portfolio-nav {
    @include margin-top(25px);
    margin-left: 20px;
    margin-right: 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
  }

  .gi-2x{font-size: 2em;}

  .separator {
    width: 70%;
  }

  .content {
    margin: 0 auto;
  }

  .project-desc{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: center;
    align-items: center;
    margin: 0 auto;
  }

  .project-detail {
    align-self: space-between;
  }

  .project-code {
    padding: 20px;
    width: 90%;
  }

  .project-tech, .project-title {
    font-weight: 900;
    text-transform: uppercase;
  }

  .tech-box {
    font-size: em(16);
    background-color: #EEEEEE;
    background-repeat: repeat;
    color: rgba(26,26,26, 0.6);
    line-height: 0px;
    word-spacing: 0px;
    height: 18px;
    width: 560px;
    padding: 19px 19px 19px 19px;
    display: block;
  }

}


@media screen and (min-width: 770px){
  
  .jumbotron {
    background-color: $white;
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(nowrap);
  }

  body {
    max-width: 100%;
  }

  .description {
    @include order(-1);
  }

  .photo {
    @inlcude order(2);
    @include flex(1);
    @include flex-basis(400px);
  }

  main-page {
    display: block;
    moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(img/img_01.png) no-repeat;
    width: auto;
    height: auto;
  }

  .project-code {
    width: 70%;
  }

}

#hire:hover {
  background-color: black;
  border-color: black;
}

