@import 'variables';

#banner {
      @include margin(10px 0 0 10px);
      font-size: em(30);
      @include font-style;
    }

@media screen and (min-width: 350px){


    #emailme {
      @include margin(0 0 10px 20px);
    }

    #email-banner, #social {
      font-size: em(20);
      color: #363636;
    }

  .wrapper {
    margin: 0 10px;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    min-height: 75vh;
  }
  

  .primary, .secondary {
    -webkit-flex: 1 300px;
        -ms-flex: 1 300px;
            flex: 1 300px;
    @include margin-top(25px);
    color: rgba(26, 26, 26, 0.6);
  }

  .secondary {
    margin-left: 10px;
  }

  .address {
    margin-top: 15px;
    margin-left: 45px;
    font-size: em(20);
  }

  .fb, .twitter, .linkedin {
  margin-left: 15px;
  font-size: em(20);
}

  .social-link,.social-link:hover, .social-link:visited {
    color: $black;
  }
  
}

@media screen and (min-width: 770px){

  .primary {
    -webkit-flex: 2 300px;
        -ms-flex: 2 300px;
            flex: 2 300px;
  }

  #emailme {
    @include margin(0 0 25px 20px);
  }

  #email-banner, #social {
    font-size: em(24);
    color: $black;
    -ms-flex-item-align: center;
        -webkit-align-self: center;
            align-self: center;
  }

  .secondary {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
    -ms-flex-item-align: start;
        -webkit-align-self: flex-start;
            align-self: flex-start;
  }

  .fb, .twitter, .linkedin {
  margin-left: 15px;
  font-size: em(20);
}
}


.list-social {
  list-style-type: none;
  @include margin-top(15px);
}

.list-item {
  display: inline;
  padding: .24em;
}
