 @import 'variables';


@media screen and (min-width: 350px){
	.main-footer {
		background: $bgDefault;
		padding: 2em 0;
		position: absolute;
		@include margin-top(30px);
		display: flex;
		flex-flow: row wrap;
	}

	.list-social-footer {
		list-style-type: none;
	}

	.list-item-footer {
		display: inline;
		padding-right: 10px;
	}

	.footer-inner {
		flex-grow: 2;
		align-self: center;
	}

	.social-footer {
		flex-grow: 1;
		align-self: space-between;
	}
}
