@import url(https://fonts.googleapis.com/css?family=Exo+2);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Red */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Red */
body {
  background-color: #fff;
  font-family: 'Exo 2', sans-serif; }

.main {
  flex: 1; }

.logo {
  font-size: 3em;
  text-align: center;
  color: gold;
  text-shadow: -5px 10px 15px black; }

.char1 {
  position: relative;
  z-index: 2;
  left: 5px; }

.char2 {
  position: relative;
  z-index: 3;
  left: -15px; }

a, a:hover, a:visited {
  text-decoration: none;
  color: white; }

@media screen and (min-width: 350px) {
  .jumbotron {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }

  .photo {
    order: -1;
    flex: 1 200px; } }
@media screen and (min-width: 770px) {
  .jumbotron {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }

  .photo {
    order: 1;
    flex: 1 400px; } }
/* Red */
.navbar-default {
  background-color: #e74c3c;
  border-color: #c0392b; }
  .navbar-default .navbar-brand {
    color: #ecf0f1; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #ffbbbc; }
  .navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
    font-size: 1.5em; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #ffbbbc; }
  .navbar-default .navbar-nav .active > a, .navbar-default .navbar-nav .active > a:hover, .navbar-default .navbar-nav .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b; }
  .navbar-default .navbar-nav .open > a, .navbar-default .navbar-nav .open > a:hover, .navbar-default .navbar-nav .open > a:focus {
    color: #ffbbbc;
    background-color: #c0392b; }
    .navbar-default .navbar-nav .open > a .caret, .navbar-default .navbar-nav .open > a:hover .caret, .navbar-default .navbar-nav .open > a:focus .caret {
      border-top-color: #ffbbbc;
      border-bottom-color: #ffbbbc; }
  .navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ecf0f1;
    border-bottom-color: #ecf0f1; }
  .navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffbbbc;
    border-bottom-color: #ffbbbc; }
  .navbar-default .navbar-toggle {
    border-color: #c0392b; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #c0392b; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ecf0f1; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ffbbbc;
      background-color: #c0392b; } }
/* Red */
.flex-boxes {
  align-items: stretch;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 5px; }
  .flex-boxes::after {
    clear: both;
    content: "";
    display: table; }
  .flex-boxes .flex-box {
    align-self: stretch;
    background: #f7f7f7;
    border-radius: 3px;
    box-shadow: inset 0 0 1px #DDD, 0 2px 4px #e6e6e6;
    display: block;
    flex: 2 2 15em;
    margin: 0.4em;
    padding: 2em 2em 3em 2em;
    text-decoration: none;
    transition: all 0.2s ease-in-out; }
    .flex-boxes .flex-box:nth-child(1) {
      border-top: 6px solid tomato; }
      .flex-boxes .flex-box:nth-child(1):focus, .flex-boxes .flex-box:nth-child(1):hover {
        background-color: rgba(255, 99, 71, 0.1); }
    .flex-boxes .flex-box:nth-child(2) {
      border-top: 6px solid #72BFBF; }
      .flex-boxes .flex-box:nth-child(2):focus, .flex-boxes .flex-box:nth-child(2):hover {
        background-color: rgba(114, 191, 191, 0.1); }
    .flex-boxes .flex-box:nth-child(3) {
      border-top: 6px solid #92B1E3; }
      .flex-boxes .flex-box:nth-child(3):focus, .flex-boxes .flex-box:nth-child(3):hover {
        background-color: rgba(146, 177, 227, 0.1); }
    .flex-boxes .flex-box:nth-child(4) {
      border-top: 6px solid #E3D743; }
      .flex-boxes .flex-box:nth-child(4):focus, .flex-boxes .flex-box:nth-child(4):hover {
        background-color: rgba(227, 215, 67, 0.1); }
    .flex-boxes .flex-box:nth-child(5) {
      border-top: 6px solid #CCC; }
      .flex-boxes .flex-box:nth-child(5):focus, .flex-boxes .flex-box:nth-child(5):hover {
        background-color: rgba(204, 204, 204, 0.1); }
    .flex-boxes .flex-box:nth-child(6) {
      border-top: 6px solid #F6C05C; }
      .flex-boxes .flex-box:nth-child(6):focus, .flex-boxes .flex-box:nth-child(6):hover {
        background-color: rgba(246, 192, 92, 0.1); }
    .flex-boxes .flex-box img {
      display: block;
      height: 3em;
      margin: 0 auto 1em;
      opacity: 0.4; }
    .flex-boxes .flex-box .flex-title {
      color: rgba(51, 51, 51, 0.7);
      font-size: 1.2em;
      margin-bottom: 0.5em; }
    .flex-boxes .flex-box p {
      color: rgba(51, 51, 51, 0.6);
      line-height: 1.5em;
      margin: auto; }
  .flex-boxes .flex-box-big {
    flex: 1 1 40em; }

/* Red */
#banner {
  margin: 10px 0 0 10px;
  font-size: 1.875em;
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-decoration: none;
  text-align: start;
  text-indent: 0px;
  text-transform: none; }

@media screen and (min-width: 350px) {
  #emailme {
    margin: 0 0 10px 20px; }

  #email-banner, #social {
    font-size: 1.125em;
    color: black; }

  .wrapper {
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 75vh; }

  .primary, .secondary {
    flex: 1 300px;
    margin-top: 25px; }

  .fb, .twitter, .linkedin {
    margin-left: 15px;
    font-size: 1em; } }
@media screen and (min-width: 770px) {
  .primary {
    flex: 2 300px; }

  #emailme {
    margin: 0 0 25px 20px; }

  #email-banner, #social {
    font-size: 1.5em;
    color: black;
    align-self: center; }

  .secondary {
    flex-grow: 1;
    align-self: flex-start; }

  .fb, .twitter, .linkedin {
    margin-left: 15px;
    font-size: 1.25em; } }
.list-social {
  list-style-type: none;
  margin-top: 15px; }

.fa-facebook-official, .fb {
  color: #3B5998; }

.fa-twitter, .twitter {
  color: #00ABF1; }

.fa-linkedin, .linkedin {
  color: #1883BB; }

.fa-facebook-official:hover, .fb:hover {
  color: #718dc8; }

.fa-twitter:hover, .twitter:hover {
  color: #58ceff; }

.fa-linkedin:hover, .linkedin:hover {
  color: #50b4e9; }

/* Red */
@media screen and (min-width: 350px) {
  .main-footer {
    background: #e74c3c;
    padding: 2em 0;
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap; }

  .list-social-footer {
    list-style-type: none; }

  .list-item-footer {
    display: inline;
    padding-right: 10px; }

  .footer-inner {
    flex-grow: 2;
    align-self: center; }

  .social-footer {
    flex-grow: 1;
    align-self: space-between; } }

/*# sourceMappingURL=main.css.map */
